.navbar {
  list-style-type: none;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
}

.nav-ul {
  float: left
}

.nav-li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
}

.nav-li:hover {
  background-color: #111
}